<section class="panel-default pop-ups bg-white">
    <header class="panel-heading text-center">
        <strong class="text-uc">Change Child Password</strong>
    </header>
    <form class="panel-body wrapper-lg" name="changeChildPasswordForm" id="changeChildPasswordForm" ng-submit="changeChildPassword(password)" data-validate="parsley">
        <div class="form-group">
            <input type="password" id="currentPassword" name="currentPassword" ng-model="password.current_password" data-parsley-trigger="focusout" placeholder="Current password" class="form-control" data-required="true">
        </div>
        <div class="form-group">
            <span class="text-danger msg-error" ng-show="changeChildPasswordForm.currentPassword.$error.required && changeChildPasswordForm.currentPassword.$dirty">required</span>
        </div>
        <div class="form-group">
            <input type="password" id="inputPassword" name="inputPassword" ng-model="password.new_password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^(?=.{6,20}$)(?=.*[^a-zA-Z])/" data-parsley-trigger="focusout" placeholder="New Password" class="form-control" data-required="true">
        </div>
        <div class="form-group">
            <span class="text-danger msg-error" ng-show="changeChildPasswordForm.inputPassword.$error.required && changeChildPasswordForm.inputPassword.$dirty">Please enter new password</span>
            <!--<span class="text-danger msg-error" ng-show="!changeChildPasswordForm.inputPassword.$error.required && (changeChildPasswordForm.inputPassword.$error.minlength || changeChildPasswordForm.inputPassword.$error.maxlength) && changeChildPasswordForm.inputPassword.$dirty">Passwords must be between 6 and 20 characters.</span>-->
            <!--<span class="text-danger msg-error" ng-show="!changeChildPasswordForm.inputPassword.$error.required && !changeChildPasswordForm.inputPassword.$error.minlength && !changeChildPasswordForm.inputPassword.$error.maxlength && changeChildPasswordForm.inputPassword.$error.pattern && changeChildPasswordForm.inputPassword.$dirty">Must contain at least one non-alpha character (a number or a symbol.)</span>-->
            <div class="text-danger msg-error" ng-show="changeChildPasswordForm.inputPassword.$touched" ng-messages="changeChildPasswordForm.inputPassword.$error" role="alert">
                <div ng-message="pattern">Password must be between 6 and 20 characters and must contain at least one non-alpha character</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" ng-model="password.confirm_password" ng-minlength="6" ng-maxlength="20" pw-check="inputPassword" ng-pattern="/(?=.*[^a-zA-Z])/" data-parsley-trigger="focusout" data-parsley-equalto="#inputPassword" placeholder="Confirm Password" class="form-control" data-required="true">
        </div>
        <div class="form-group">
            <span class="text-danger msg-error" ng-show="changeChildPasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$dirty">Please enter confirm password</span>
            <!--<span class="text-danger msg-error" ng-show="!changeChildPasswordForm.confirmPassword.$error.required && (changePasswordForm.confirmPassword.$error.minlength || changePasswordForm.confirmPassword.$error.maxlength) && changePasswordForm.confirmPassword.$dirty">Passwords must be between 6 and 20 characters.</span>-->
            <!--<span class="text-danger msg-error" ng-show="!changeChildPasswordForm.confirmPassword.$error.required && !changePasswordForm.confirmPassword.$error.minlength && !changePasswordForm.confirmPassword.$error.maxlength && changePasswordForm.confirmPassword.$error.pattern && changePasswordForm.confirmPassword.$dirty">Must contain at least one non-alpha character (a number or a symbol.)</span>-->
        </div>
        <div class="form-group">
            <div class="msg-block" ng-show="changeChildPasswordForm.$error">
                <span class="text-danger msg-error" ng-show="changeChildPasswordForm.confirmPassword.$error.pwmatch">
                Passwords don't match.
            </span>
        </div>
        <div class="line line-dashed"></div>
        <button type="submit" ng-disabled="changeChildPasswordForm.$invalid || isChildChangePasswordWaiting" class="btn btn-primary"><span ng-show="isChildChangePasswordWaiting"><i class="fa fa-circle-o-notch fa-spin"></i></span>{{ childChangePasswordButtonText }}</button>
    </form>
</section>