<style type="text/css">
    .pnf{
        font-size: 40px;
        font-weight: 300;
        text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #d0d0d0, 0 5px 10px rgba(0,0,0,0.3), 0 10px 20px rgba(0,0,0,0.3);
    }
</style>
<div class="row m-n">
      <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center m-b-lg">
                  <h1 class="h text-white animated fadeInDownBig">404</h1>
            </div>
            <div class="text-center m-b-lg">
                  <h3 class="pnf text-white animated fadeInDownBig">Page Not Found</h3>
            </div>
      </div>
</div>