<section class="m-t-lg wrapper-md animated fadeInUp auth" ng-init="confirmEmail()">
    <div class="container aside-xxl">
        <a class="navbar-brand block">
            <img src="includes/images/logo.png" style="margin: 0 auto;" />
        </a>
        <section class="panel panel-default bg-white m-t-lg">
            
            <header class="panel-heading text-center">
                <strong>{{txt}}</strong>
            </header>
            <form class="panel-body wrapper-lg" name="forgotForm" id="forgotForm">
                    <a ui-sref="login" ng-if="!confirming" class="pull-right m-t-xs" class="btn btn-primary"><small>Back to sign in</small></a>
            </form>
        </section>
    </div>
</section>