<div ng-init="init()"></div>
<section class="vbox" ng-show="!resources.stillLoading && !allCategoriesLoading">
    <header class="header bg-gradient b-b">
        <div class="row">
            <div class="col-md-8 col-xs-8 pull-left">
                <div class="search input-group left">
                    <div class="input-group pull-left">
                        <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown" title="Category">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu animated fadeInUp">
                            <span class="arrow top"></span>
                            <li>
                                <a ng-click="getFilteredIdList(null, true)" class="cursor-pointer">All Categories</a>
                            </li>
                            <li ng-repeat="mainCategory in LessonModel.allCategories | filter:{ parent_cat_id: 0, enable: 1 } : true"
                                ng-init="mainCategoryId = mainCategory.id"
                                ng-class="{'dropdown-submenu' : LessonModel.subCategories[mainCategoryId]}">
                                <a data-id="{{mainCategory.id}}" ng-click="getFilteredIdList(mainCategory.id, true)"
                                   class="cursor-pointer">{{mainCategory.name}}</a>
                                <ul class="dropdown-menu" ng-if="LessonModel.subCategories[mainCategoryId]">
                                    <li ng-repeat="subCat in LessonModel.subCategories[mainCategoryId]">
                                        <a data-id="{{subCat.id}}" ng-click="getFilteredIdList(subCat.id, false)"
                                           class="cursor-pointer">{{subCat.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="input-group pull-left">
                        <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" title="Lesson Added By">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu animated fadeInUp">
                            <span class="arrow top"></span>
                            <li class="dropdown-submenu">
                                <a data-id="added-by-"  ng-click="setFilterAddedBy(undefined)" class="cursor-pointer">
                                    Added by all
                                    <span ng-show="filterOpt.uid == undefined">
								        &#10003;
							        </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="cursor-pointer" ng-click="setFilterOwnerRole (1)">
                                            Created by admin
                                            <span ng-show="filterOpt.uid == undefined && filterOpt.role_id == 1">
								                &#10003;
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cursor-pointer" ng-click="setFilterOwnerRole (2)">
                                            Created by parent
                                            <span ng-show="filterOpt.uid == undefined && filterOpt.role_id == 2">
								                &#10003;
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a ng-click="setFilterCurrentUser(resources.current_user_id)" class="cursor-pointer">
                                    Added by me
                                    <span ng-show="filterOpt.uid != undefined">
								        &#10003;
							        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="search input-group left">
                    <div class="age-filter">
                        <span><input type="text" ng-model="filterByMinAge" placeholder="Min Age"></span>
                        <span><input type="text" ng-model="filterByMaxAge" placeholder="Max Age"></span>
                    </div>
                    <div class="search-field">
                        <input type="text" placeholder="Search by name" ng-model="searchLessonName"
                               class="input-sm form-control"
                               ng-model-options="{ debounce: 500 }"/>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="btn btn-default m-t btn-no-w btn-clear" ng-click="resetFilters()">Clear</div>

            </div>
            <div class="col-md-4 col-xs-4 m-t">
                <a ui-sref="parent.addlessons" class="btn btn-sm btn-primary btn-no-w pull-right" >Upload Lessons</a>
            </div>
        </div>
    </header>
    <div class="page-title col-md-12 col-xs-12">
        <div class="col-md-8 col-xs-12">
            <h4><i class="fa fa-angle-right" aria-hidden="true"></i> Lessons </h4>
            <h5 class="padder">Add lessons and assign them to your children.</h5>
        </div>
        <div class="col-md-4 col-xs-12 no-padder">
            <div class="col-md-12 no-padder">
            <h5 class="m-l pull-right"><span><img class="img-assigned" title="This Lesson is already assigned."
                                                  src="includes/images/check.png"/></span> Already Assigned</h5>
                </div>

        </div>
    </div>

    <section class="scrollable no-padder m-b-xl browse-lessons">
        <!--{{LessonModel.allVideos}}-->
        <!--{title : searchLessonName, category_id : } -->
        <div class="grid" lazy-scroll="loadMore()"
             lazy-scroll-trigger="100"
             lazy-no-scroll="false" preserve-order reload-on-resize masonry='{ "itemSelector": ".grid-item", "columnWidth":".item-sizer", "percentPosition": true,"gutter":0 }' >
            <div class="item-sizer col-md-3 col-sm-4 col-xs-6"></div>
        <!-- <div masonry-brick class="grid-item col-md-3 col-sm-4 col-xs-6 m-t-sm"
             ng-repeat="video in LessonModel.allVideos | filter : videoFilter | filter : {title : searchLessonName} | filter : filterByCategory | filter : {min_age : filterByMinAge} | filter : {max_age : filterByMaxAge}  | orderBy : '-inHouse' as loadedSections"
            ng-click="$state.go('parent.lesson', {id : video.id});" > -->

        <div masonry-brick class="grid-item col-md-3 col-sm-4 col-xs-6 m-t-sm"
             ng-repeat="video in LessonModel.allVideos  | filter : videoFilter | filter : keywordSearch | filter : filterByCategory | filter : {min_age : filterByMinAge} | filter : {max_age : filterByMaxAge}  | filter: filterByCurrentParent | filter: filterByCurrentRole | orderBy : '-inHouse'| limitTo:dataItems as loadedSections track by video.id"
             ng-init="$last && finished()">

            <div class="video-wrapper b-a">
                <div id="triangle-topleft" class=" " ng-if="video.inHouse">
                    <img class="img" title="This Lesson is already in your house." src="includes/images/check.png"/>
                </div>

                <div class="video bg-white hover">
                    <div class="control-group f-text">
                       <!-- <div  ui-sref="admin.video({id : video.id})" class="video-title-display"><div>{{video.title}}</div></div>-->
                        <a ui-sref="parent.lesson({id : video.id})">
                            <img ng-if="video.video_ref == 'youtube'" class="img img-responsive"
                                 src="https://img.youtube.com/vi/{{video.video_id}}/0.jpg"/>
                            <img ng-if="video.video_ref == 'ted'" class="img img-responsive"
                                 src="{{video.thumb}}"/>
                        </a>
                    </div>
                    <div class="wrapper">
                        <div class="category-item">{{categoryObj['main']}}</div>
                        <!--<small class="text-ellipsis" ng-init="categoryObj = getMainSubCategoryNames(video.category_id)">
                            {{categoryObj['main']}} -> {{categoryObj['sub']}}
                        </small>-->

                        <div class="sub-item m-b ">
                            <small ng-init="categoryObj = getMainSubCategoryNames(video.category_id);video.catName = categoryObj['main'];video.subCatName = categoryObj['sub']"  class="">{{categoryObj['sub']}}</small></div>
                        <a class="video-name m-b" ui-sref="parent.lesson({id : video.id})">
                            <span class="categoryName" ng-bind="video.title"></span></a>
                        <div class="padder-v">
                            <span class="m-r"><strong>Min Age</strong> - {{::video.min_age}}</span>
                            <span class="m-l"><strong>Max Age</strong> - {{::video.max_age}}</span>
                        </div>

                        <div class="average rating">
                            <ng-rate-it style="display: inline" ng-model="video.rating_value" resetable="false" read-only="true"></ng-rate-it>
                            <span ng-show="video.rating_value">({{::video.rating_value}})</span>
                        </div>

                        <small class="m-t">created on {{::video.created_at | amDateFormat:'MM/DD/YYYY'}}</small>

                       <!--  {{video.video_flag_id}} -->

                        <div class="report-video"><input ng-checked="video.video_flag_id > 0" ng-init="video.flag=video.video_flag_id > 0" type="checkbox" ng-model="video.flag" ng-change="openFlagPopup(video)" id="flag-{{video.id}}"> <label for="flag-{{video.id}}"><span><i class="fa fa-flag" aria-hidden="true"></i></span><span>Report</span></label></div>

                    </div>
                </div>
            </div>
        </div>
            </div>
            <span ng-show="isLoading" class="lesson-loading">loading...</span>
        <div class="not-found">
            <h3 class="text-center clearfix" ng-if="loadedSections.length == 0">No Any Lessons</h3>
            </div>
    </section>
</section>
<section class="vbox" ng-if="resources.stillLoading && allCategoriesLoading">
    <img src="includes/images/still-loading.gif" class="loading"/>
</section>
