<section class="vbox dashboard">
    <section class="scrollable padder">
        <div class="m-b-md">
            <h3 class="m-b-none text-uc">Hi, {{user().f_name}}!</h3>
            <small class="text-uc">Welcome to Earn2Learn!</small>
        </div>
        <section class="panel panel-default">
            <div class="row m-l-none m-r-none bg-light lter">
                <div class="activity-box col-xs-4 col-sm-4 col-md-4 padder-v b-r b-light" title="Active Parents" data-toggle="tooltip">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                                    <i class="fa fa-circle fa-stack-2x text-info"></i>
                                    <i class="fa fa-male fa-stack-1x text-white"></i>
                              </span>
                    <div class="clear col-xs-12 col-md-6 no-padder" >
                        <span class="h3 block m-t-xs"><strong>{{parents.length}}</strong></span>
                        <small class="text-muted text-uc">Parents</small>
                    </div>
                </div>
                <div class="activity-box col-xs-4 col-sm-4 col-md-4 padder-v b-r b-light lt" title="Active Children" data-toggle="tooltip">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                    <i class="fa fa-male fa-stack-1x text-white"></i>
                                    <span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#fff" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="2000" data-target="#bugs" data-update="3000"></span>
                    </span>
                    <div class="clear col-xs-12 col-md-6 no-padder">
                        <span class="h3 block m-t-xs"><strong id="bugs">{{members.length}}</strong></span>
                        <small class="text-muted text-uc">Children</small>
                    </div>
                </div>
                <!--<div class="col-sm-6 col-md-3 padder-v b-r b-light">-->
                    <!--<span class="fa-stack fa-2x pull-left m-r-sm">-->
                                    <!--<i class="fa fa-circle fa-stack-2x text-danger"></i>-->
                                    <!--<i class="fa fa-university fa-stack-1x text-white"></i>-->
                                    <!--<span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span>-->
                    <!--</span>-->
                    <!--<a class="clear">-->
                        <!--<span class="h3 block m-t-xs"><strong id="firers">{{parents.length}}</strong></span>-->
                        <!--<small class="text-muted text-uc">Houses</small>-->
                    <!--</a>-->
                <!--</div>-->
                <div class="activity-box col-xs-4 col-sm-4 col-md-4 padder-v b-r b-light lt" title="Available Lessons" data-toggle="tooltip">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                                    <i class="fa fa-video-camera fa-stack-1x text-white"></i>
                                    <span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span>
                    </span>
                    <div class="clear col-xs-12 col-md-6 no-padder">
                        <span class="h3 block m-t-xs"><strong id="firers">{{lessons.length}}</strong></span>
                        <small class="text-muted text-uc">Lessons</small>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-8">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold"><span>Parent signups (Last 10 days)</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db1" aria-expanded="false" aria-controls="db1">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>
                    </header>
                    <div class="collapse in panel-body text-center" id="db1">
                        <div id="flot-1ine" ng-if="allUsers.length > 0" chart data-members="{{allUsers}}" style="width: 100%; height:210px;"></div>
                        <div class="text-center h5 text-muted" ng-if="allUsers.length == 0">There are no users!</div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">
                        <span>Recently Added Users <!--<span class="label bg-success">{{allUsers.length}}</span>--></span>
                            <a class="pull-right"  data-toggle="collapse" href="#db2" aria-expanded="false" aria-controls="db2">
                                <i class="fa fa-minus"></i>
                                <i class="fa fa-plus"></i>
                            </a>
                    </header>
                    <ul class="collapse in panel-body list-group alt" id="db2">
                        <li class="list-group-item" ng-repeat="user in allUsers | limitTo : 5">
                            <div class="media">
                                <span class="pull-left thumb-sm">
                                    <a ui-sref="admin.user({ id: user.id })">
                                        <img src="{{user.profile_image}}" alt="John said" class="img-circle">
                                    </a>
                                </span>
                                <div class="media-body">
                                    <div><a ui-sref="admin.user({ id: user.id })">{{user.f_name}} {{user.l_name}} 
                                        <small ng-if="user.role_id == 2" class="text-muted">(Parent)</small>
                                        <small class="text-muted"> - Children - {{ user.no_of_children }}</small>
                                        <!--<small ng-if="user.role_id == 3" class="text-muted">(Child)</small>-->
                                    </a></div>
                                    <small class="text-muted">Registered on {{user.created_at | amDateFormat:'MM/DD/YYYY'}}</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-init="getMostPopularLesson();">
                    <section class="panel panel-default">
                        <header class="panel-heading text-muted font-bold">
                            <span>Most Popular Lesson</span>
                            <a class="pull-right"  data-toggle="collapse" href="#db3" aria-expanded="false" aria-controls="db3">
                                <i class="fa fa-minus"></i>
                                <i class="fa fa-plus"></i>
                            </a>
                        </header>
                        <div class="collapse in panel-body" id="db3">

                            <div class="col-sm-6 col-md-4 col-lg-3" ng-if="!loadingPopularLesson">
                                <div class="iframe-wrapper" id="video-wrapper" ng-bind-html="videoIframe">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-7 col-lg-8" ng-if="!loadingPopularLesson">
                                <a class="h3 text-ellipsis text-left">{{popularLesson.title}}</a>
                                <p class="text-left">{{popularLesson.description}}</p>
                                <p><small class="badge bg-info">{{popularLesson.count}}</small> Parents assigned this lesson to their childrens.</p>
                                <!--{{popularLesson}}-->

                            </div>
                            <p class="m-t-md text-center" ng-if="loadingPopularLesson">Loading...</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <section class="panel panel-default" ng-init="getAverageNumberOfPointsAwardedWeekly()">
                    <header class="panel-heading text-muted font-bold">
                        <span>Average Number of E2L Bucks Awarded Weekly (Last 12 weeks)</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db4" aria-expanded="false" aria-controls="db4">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>
                    </header>
                    <div class="collapse in panel-body text-center" id="db4">
                        <div id="flot-1ine" ng-if="!loadingAverageNumberOfPointsAwardedWeekly" averagenumberofpointschart data-values="{{averageNumberOfPointsAwardedWeekly}}" style="width: 100%; height:210px;"></div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel panel-default" ng-init="transactionDayMonthWeekYear()">
                    <header class="panel-heading text-muted font-bold">
                        <span>Total Amount Received</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db5" aria-expanded="false" aria-controls="db5">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>
                    </header>
                    <div class="collapse in panel-body text-center" id="db5">
                        <div class="bg-light">
                            <div class="col-md-6 wrapper-sm text-center b-l b-t h4 b-too-light"><div class="m-t-md m-b-md ">Today<br /><span><strong>${{transactionDayAmount}}</strong></span></div></div>
                            <div class="col-md-6 wrapper-sm text-center b-t b-r h4 b-too-light lt"><div class="m-t-md m-b-md ">This Week<br /><span><strong>${{transactionMonthAmount}}</strong></span></div></div>
                            <div class="col-md-6 wrapper-sm text-center b-l b-b h4 b-too-light lt"><div class="m-t-md m-b-md ">This Month<br /><span><strong>${{transactionWeekAmount}}</strong></span></div></div>
                            <div class="col-md-6 wrapper-sm text-center b-b b-r h4 b-too-light"><div class="m-t-md m-b-md ">This Year<br /><span><strong>${{transactionYearAmount}}</strong></span></div></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-init="getLessonAnalytics();">
                <section class="panel panel-default">
                    <header class="panel-heading text-muted font-bold">
                        <span>Percentage of children taking the quiz after watching videos</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db6" aria-expanded="false" aria-controls="db6">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>
                    </header>
                    <div class="collapse in panel-body text-center" id="db6">
                        <div class="inline" ng-if="!loadinggetLessonAnalytics">
                            <div chartpie class="easypiechart" data-percent="{{lessonAnalytics}}" data-bgcolor="#AFCF6F" data-line-width="30" data-track-color="#eee" data-bar-color="#afcf6f" data-scale-color="#fff" data-size="188" data-line-cap='butt'>
                                <span class="h2 step">{{lessonAnalytics}}</span>%
                            </div>
                        </div>
                        <p class="m-t-md text-center" ng-if="loadinggetLessonAnalytics">Loading...</p>
                    </div>
                    <div class="panel-footer"><small ng-if="!loadinggetLessonAnalytics">{{lessonAnalytics}}% of children taking the quiz after watching videos.</small></div>
                </section>
            </div>
            <div class="col-md-6" ng-init="getGiftcardsAnalytics();">
                <section class="panel panel-default">
                    <header class="panel-heading text-muted font-bold">
                        <span>Percentage of children purchasing gift cards</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db7" aria-expanded="false" aria-controls="db7">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>
                    </header>
                    <div class="collapse in panel-body text-center" id="db7">
                        <div class="inline" ng-if="!loadinggetGiftcardsAnalytics">
                            <div chartpie class="easypiechart" data-percent="{{giftcardsAnalytics}}" data-bgcolor="red" data-line-width="30" data-track-color="#eee" data-bar-color="#afcf6f" data-scale-color="#fff" data-size="188" data-line-cap='butt'>
                                <span class="h2 step">{{giftcardsAnalytics}}</span>%
                            </div>
                        </div>
                        <p class="m-t-md text-center" ng-if="loadinggetGiftcardsAnalytics">Loading...</p>
                    </div>
                    <div class="panel-footer"><small ng-if="!loadinggetGiftcardsAnalytics">{{giftcardsAnalytics}}% of children purchasing gift cards</small></div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 padder-v b-light" ng-init="averageSpentTimeParent()">
                <section class="panel panel-default">
                    <header class="panel-heading text-muted font-bold">
                        <span>Average time spent by parents on the site</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db8" aria-expanded="false" aria-controls="db8">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>
                    </header>
                    <div class="collapse in panel-body text-center" id="db8">
                        <div class="inline">
                            <h3 class="text-warning">{{secToMinHours(averageSpentTimeParent)}}</h3>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-sm-6 col-md-6 padder-v b-light lt" ng-init="averageSpentTimeChild()">
                <section class="panel panel-default">
                    <header class="panel-heading text-muted font-bold">
                        <span>Average time spent by children on the site</span>
                        <a class="pull-right"  data-toggle="collapse" href="#db9" aria-expanded="false" aria-controls="db9">
                            <i class="fa fa-minus"></i>
                            <i class="fa fa-plus"></i>
                        </a>

                    </header>
                    <div class="collapse in panel-body text-center" id="db9">
                        <div class="inline">
                            <h3 class="text-warning">{{secToMinHours(averageSpentTimeChild)}}</h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>