<style type="text/css">
    .house {
        cursor: pointer;
        height: 145px;
    }
    
    .houseName {
        font-size: 17px;
    }
    
    .houseNameHolder {
        /*margin-top: -73px;
        background-color: gray;*/
    }
    
    .iframe-wrapper {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        overflow: hidden;
    }
    
    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .house-img-wrapper .owner-image {
        margin-top: -68px !important;
        z-index: 60 !important;
        position: absolute !important;
        width: 100px !important;
        border: 2px solid white;
    }

    .form-group, .panel-default {
        position: relative;
    }
    .required {
        position: absolute;
        top: 10px;
        right: -10px;
        color: red;
    }
</style>

<header class="header bg-light bg-gradient b-b" ng-init="loadHouse()">
    <p>
        <!--<a ui-sref="admin.houses()" class="btn btn-default">
            <i class="fa fa-angle-left text"></i>
        </a> -->
        &nbsp;&nbsp;<span ng-bind-html="getUnsafeHtml(house.name)"></span>
    </p>
    <div class="col-md-4 pull-right m-t-sm">
    </div>
</header>
<section class="hbox stretch" ng-if="!resources.stillLoading">
    <aside class="aside bg-white">
        <section class="vbox">
            <section class="scrollable padder m-t">
                <div class="house-img-wrapper" id="house-img-wrapper">
                    <div class="clearfix">
                        <div class="thumb-xxl">
                            <div style="text-align: left;" class="wrapper-sm bg-dark">
                                <h3 class="m-t-sm" ng-bind-html="getUnsafeHtml(house.name)"></h3>
                            </div>
                            <img src="uploads/house/{{house.image}}" style="width: 100%; height: 200px;" class="img img-responsive">
                            <div class="wrapper houseNameHolder bg-info">
                                <a ui-sref="admin.user({ id: house.user_id })" class="thumb pull-left m-r">
                                    <img style="height: 100px; width: 100px;" src="{{house.profile_image}}" class="img-circle owner-image">
                                </a>
                                <div class="clear" style="padding-left: 120px;">
                                    <a ui-sref="admin.user({ id: house.user_id })" class="h4 m-b-xs text-ellipsis cursor-pointer" style="color: white;" ng-bind-html="getUnsafeHtml(house.f_name + ' ' + house.l_name)"></a>
                                    <small class="text-white m-b ng-binding">The owner of this house</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="text-center">Update House Image</h4>
                            <h5 class="text-center">
    		                    <img ngf-src="picFile" class="img img-responsive">
    		                    <div ng-show="picFile.progress >= 0" class="progress progress-sm progress-striped  active">
                                    <div class="progress-bar progress-bar-success" data-toggle="tooltip" ng-bind="picFile.progress + '%'" data-original-title="{{picFile.progress + '%'}}" style="width:{{picFile.progress}}%"></div>
                                </div>
    		                </h5>
                             <form name="imageUploadForm">
                                <input type="file" ngf-select="" class="btn inline" ng-model="picFile" name="file" ngf-accept="'image/*'" required="">
                                 <span>Accepted image formats gif ,png ,jpg and max upload size is 1MB</span>
                                 <br>
                                <button ng-disabled="!imageUploadForm.$valid || uploading" class="btn m-t-md btn-success btn-block" ng-click="uploadPic(picFile)">{{uploadImageBtnTxt}}</button>
                            </form>
                        </div>
                    </section>
                    <h5 ng-if="house.description && house.description != ''"><strong>Description</strong></h5>
                    <p ng-if="house.description && house.description != ''">{{house.description}}</p>
                    <section class="vbox">
                        <section class="panel panel-default">
                            <div class="panel-body">
                                <header class="header">
                                    <h3>Update House</h3>
                                </header>
                                <section class="scrollable m-b-xl">
                                    <form class="panel-body" name="updateHouseForm" id="updateHouseForm" ng-controller="AuthController" ng-submit="updateHouse(updateHouseData)" data-validate="parsley">
                                        <div class="form-group">
                                            <label class="control-label" for="name">Name</label>
                                            <input type="text" id="name" ng-model="updateHouseData.name" placeholder="Name" class="form-control" data-required="true">
                                            <span class="required">*</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="description">Description</label>
                                            <textarea rows="6" id="description" ng-model="updateHouseData.description" placeholder="Description" class="form-control"></textarea>
                                        </div>
                                        <button ng-disabled="updateHouseForm.$invalid || isWaiting" type="submit" class="btn btn-primary">
                                        <span ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i></span> {{ resources.updateHouseBtnText }}</button>
                                    </form>
                                </section>
                            </div>
                        </section>
                    </section>
                </div>
            </section>
        </section>
    </aside>
    <aside class="aside bg-white b-l aside-xl">
        <section class="vbox">
            <header class="header bg-light bg-gradient">
                <ul class="nav nav-tabs nav-white">
                    <li class="cursor-pointer text-muted" ng-class="{'active' : resources.currentTab == 'members'}"><a ng-click="resources.currentTab = 'members'" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;&nbsp;Members</a></li>
                    <li class="cursor-pointer text-muted" ng-class="{'active' : resources.currentTab == 'lessons'}"><a ng-click="resources.currentTab = 'lessons'" data-toggle="tab"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;Lessons</a></li>
                   <!--  <li class="cursor-pointer text-muted pull-right" ng-class="{'active' : resources.currentTab == 'house-settings'}"><a ng-click="resources.currentTab = 'house-settings'" data-toggle="tab"><i class="fa fa-gear"></i>&nbsp;&nbsp;Settings</a></li> -->
                </ul>
            </header>
            <section class="scrollable">
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{'active' : resources.currentTab == 'members'}">
                        <header>
                            <!--<div class="wrapper input-group" >
            					<input type="text" placeholder="search"  ng-model="searchUserName" class="input-sm form-control" />
            					<div class="input-group-btn">
            						<button class="btn btn-default btn-sm">Search</button>
            					</div>
            				</div> -->
                        </header>
                        <section class="scrollable m-b-xl">
                            <div class="col-md-6 m-t-sm" ng-repeat="user in house.members | filter : searchUserName">
                                <section class="clearfix bg-light dker lter">
                                    <div class="panel-body">
                                        <a ui-sref="admin.user({ id: user.id })" class="thumb pull-left m-r">
                                            <img src="{{user.profile_image}}" class="img-circle">
                                        </a>
                                        <div class="clear">
                                            <a ui-sref="admin.user({ id: user.id })" class="text-info text-ellipsis">{{user.f_name}} {{user.l_name}}</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="text text-center wrapper" ng-if="house.members.length == 0">
                                There are no members in this house.
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane" ng-class="{'active' : resources.currentTab == 'lessons'}">
                        <header>
                            <!--<div class="wrapper input-group">
            					<input type="text" placeholder="search" ng-model="searchLessonName" class="input-sm form-control" />
            					<div class="input-group-btn">
            						<button class="btn btn-default btn-sm">Search</button>
            					</div>
            				</div> -->
                        </header>
                        <section class="scrollable m-b-xl">
                            <div class="col-md-4 m-t-sm" ng-if="!resources.stillLoadingLessons" ng-repeat="video in houseLessons | filter : searchLessonName">
                    		    <div class="video bg-white b-a hover  m-b-xl">
                    				<div class="control-group">
                    					<a ui-sref="admin.video({id : video.video_id})">
                    						<img ng-src="https://img.youtube.com/vi/{{video.video.video_id}}/0.jpg" ng-if="video.video.video_ref == 'youtube'" style="height: 142px; width: 100%;" class="img img-responsive" />
                    						<img ng-src="includes/images/ted-no-thumbnail.png" ng-if="video.video.video_ref == 'ted'" style="height: 142px; width: 100%;" class="img img-responsive" />
                    					</a>
                    				</div>
                    				<div class="wrapper bg-white">
                    					<a ui-sref="admin.video({id : video.video_id})"><strong class="text-ellipsis categoryName" ng-bind="video.video.title"></strong></a>
                    				</div>
                    			</div>
                    		</div>
                    		<div class="text-center wrapper" ng-if="resources.stillLoadingLessons">
                                <i ng-if="loadingHouseLessons" class="fa fa-spinner fa fa-spin fa fa-large"></i>
                            </div>
                            <div class="text text-center wrapper" ng-if="houseLessons.length == 0">
                                There are no lessons in this house.
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
    </aside>
</section>
<section class="vbox" ng-if="resources.stillLoading">
    <img src="includes/images/still-loading.gif" class="loading" />
</section>