    <style type="text/css">
    .user-item {
        cursor: pointer;
    }
</style>
<header class="header bg-gradient b-b" ng-init="init(2)">

    <div class="col-md-6 pull-left no-padder">
        <!-- mini search box start-->
        <div class="search input-group left m-t">
            <div class="search-field">
                <input type="text" placeholder="Search by name" ng-model="searchUserName" class="input-sm form-control" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div><!-- end mini search box -->
        <div class="btn btn-default m-t btn-no-w btn-clear" ng-click="resetUserFilter()">Clear</div>
    </div>
	<div class="col-md-6 pull-right top-buttons no-padder">
        <span class="pull-right"><a class="btn btn-primary btn-sm btn-no-w" ng-click="createUserPopup(2)">
					<span class="text">Create New Parent</span>
				</a>
		</span>
        <span class="c-info"><i class="fa fa-users icon"></i><span class="btn-nt label bg-info info-count parent-info" title="Parents" data-toggle="tooltip">{{usersModel.users.length}}</span></span>
	</div>


    <!--<button class="btn btn-primary btn-md pull-right fade-in" ng-if="resources.defaultTemplate == 'user-profile-template'" ng-click="showAddUser(null, true)">CREATE NEW USER</button>-->
</header>

<div class="page-title col-md-12">
    <h4><i class="fa fa-angle-right" aria-hidden="true"></i> Users <i class="fa fa-angle-right"></i> <span>All Parents</span></h4>
</div>
<section class="vbox users" ng-if="!resources.stillLoading">
    <section class="scrollable no-padder m-b-xl">
        <div class="col-md-4" ng-repeat="user in usersModel.users | filter : {full_name: searchUserName } as userCount">
            <section class="panel user-wrapper clearfix bg-light lter">
                <div class="panel-body">
                    <a ui-sref="admin.user({ id: user.id })" class="thumb pull-left m-r">
                        <img style="height: 64px; width: 64px;" src="{{user.profile_image}}" class="img-circle">
                    </a>
                    <div class="clear">
                        <a ui-sref="admin.user({ id: user.id })" class="parent-title text-info text-ellipsis">{{user.f_name}} {{user.l_name}}</a>
                        <small class="block text-muted text-ellipsis">Parent since {{user.created_at | amDateFormat:'MM/DD/YYYY'}}</small>
                        <!--<a ui-sref="admin.user({ id: user.id })" class="btn btn-xs btn-success m-t-xs">View</a>-->
                        <a ui-sref="admin.user({ id: user.id })" class="btn btn-xs btn-success m-t-xs btn-sm btn-no-w">Edit</a>
                    </div>
                </div>
            </section>
        </div>
        <h4 class="text-center" ng-if="userCount.length == 0 && usersModel.users.length > 0">No Search Results Found</h4>
        <section class="scrollable padder m-b-xl" ng-if="!(usersModel.users.length > 0)">
            <div class="col-md-4">
                <h3>No Any Parents</h3>
            </div>
        </section>
    </section>
</section>
<section class="vbox" ng-if="resources.stillLoading">
    <img src="includes/images/still-loading.gif" class="loading" />
</section>