<style type="text/css">
    .task {
        cursor: pointer;
        height: 145px;
    }
    
    .taskName {
        font-size: 17px;
    }
</style>

<header class="header bg-light bg-gradient b-b" ng-init="getAllTasks()">
    <div class="col-md-6 pull-left no-padder">
        <!-- mini search box start-->
        <div class="search input-group left m-t">
            <div class="search-field">
                <input type="text" placeholder="Search by Name" ng-model="resources.searchTaskName" class="input-sm form-control" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div><!-- end mini search box -->
        <div class="btn btn-default m-t btn-no-w btn-clear" ng-click="resetAdminTasksFilter()">Clear</div>
    </div>
    <div class="col-md-6 pull-right top-buttons no-padder">
        <span class="pull-right"><a ng-click="openAddTaskPopup()" class="btn btn-primary btn-sm btn-no-w">
            <span class="text">Add New Chores</span>
        </a>
            </span>
    </div>
</header>
<div class="page-title col-md-12">
    <h4><i class="fa fa-angle-right" aria-hidden="true"></i> Chores</h4>
</div>
<section class="vbox chores" ng-if="!resources.stillLoading">
    <section class="scrollable padder m-b-xl wrapper">
        <article class=" b-b wrapper-sm no-margin" ng-repeat = "task in resources.allTasks | orderBy : '-created_at'  | filter : {task : resources.searchTaskName} as numberOfTasks">
            <span class="col-md-1 col-sm-1 col-xs-2">{{$index + 1}}.</span>
            <div class="col-md-9 col-sm-8 col-xs-10">

                <span class="h4" ng-bind-html="getUnsafeHtml(task.task)"></span>
                <small class="block m-t-xs" ng-bind-html="getUnsafeHtml(task.description)"></small>
                <em ng-if="task.by_admin == 0" class="text-s">Posted by <span class="text-info">{{task.f_name}} {{task.l_name}}</span></em>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 no-padder process-buttons m-t">
                <a type="button" data-toggle="tooltip" title="Edit this task"  ng-click="openEditTaskPopup(task)" class="btn btn-icon-new btn btn-warning" ><i class="fa fa-pencil"></i></a>
                <a type="button" title="Delete this task"  ng-click="deleteTaskByAdmin(task)" class="btn btn-icon-new btn-danger" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
            </div>
        </article>
        <h4 class="text-center" ng-if="numberOfTasks.length == 0 && resources.allTasks.length > 0">No Search Results Found</h4>
        <section class="scrollable padder m-b-xl">
            <div class="col-md-3 m-t-sm" ng-if="!(resources.allTasks.length > 0)">
                <h3>No Any Chores</h3>
            </div>
        </section>
    </section>
</section>
<section class="vbox" ng-if="resources.stillLoading">
    <img src="includes/images/still-loading.gif" class="loading" />
</section>